<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>truongnhon-001-site1.itempurl.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8030.site4now.net:8172/MsDeploy.axd?site=truongnhon-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>truongnhon-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>truongnhon-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MovieWebContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8002.site4now.net;Initial Catalog=db_a88534_truongnhon;User ID=db_a88534_truongnhon_admin;Password=2017fptvttnhon;Application Name=EntityFramework" Name="Data Source=SQL8002.site4now.net;Initial Catalog=db_a88534_truongnhon;User ID=db_a88534_truongnhon_admin;Password=2017fptvttnhon;Application Name=EntityFramework;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MovieWeb.Models.MovieWebContext, MovieWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MovieWeb-Web.config Connection String">
      <ParameterValue>data source=SQL8002.site4now.net;initial catalog=db_a88534_truongnhon;user id=db_a88534_truongnhon_admin;password=2017fptvttnhon;application name=EntityFramework;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MovieWebContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL8002.site4now.net;Initial Catalog=db_a88534_truongnhon;User ID=db_a88534_truongnhon_admin;Password=2017fptvttnhon;Application Name=EntityFramework;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>